obj/*
gnatinspect.db
gnatinspect.db
obj/b__main.adb
obj/b__main.ali
obj/b__main.o
obj/gnatinspect.db
obj/gnatinspect.db-shm
obj/gnatinspect.db-wal
obj/gpsauto.cgpr
obj/jackschess-loc.xml
obj/main.bexch
obj/main.exe
